# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log